#header {
    background-color: #2e5fc9;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-weight: bold;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#title {
    margin-right: 10px;
    font-weight: bold;
}

#city-input {
    margin-right: 10px;
}

#recent-search-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    align-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

#recent-search-display button {
    padding: 0 10px;
    margin: 0 10px;
    background-color: #2e5fc9;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #000000;  
}

#weather-cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.current-weather-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

#city {
    color: black;
    font-weight: bold;
}

#todays-weather {
    height: fit-content;
}

#future-forecast {
    color: black;
    font-weight: bold;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#future-forecast-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 845px) {
    #future-forecast-cards {
        flex-direction: column;
    }
    #search-form {
        flex-direction: column;
    }
}